.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: @background-color;

  &__content {
    position: relative;
    padding: 15px 35px;
    text-align: center;
  }

  &__text {
    font-size: .8rem;
    color: @footer-text-color;
    margin: 1rem 0;
    opacity: 1;
    transition: opacity 600ms ease-in-out;

    >strong {
      font-size: @text-size;
    }
  }

  &:hover &__text {
    opacity: .8;
  }
}
