@fonts-path: '../../assets/fonts';

@font-sans-serif: 'Roboto', 'Helvetica', 'Arial', sans-serif;
@font-dosis-r: 'dosis-regular';
@font-dosis-sb: 'dosis-semibold';
@font-proximanova-r: 'proximanova-regular';
@font-proximanova-sb: 'proximanova-semibold';

@text-size: 1rem;
@text-color: #33333A;
@text-line-height: 1.5;

@background-color: #FFFFFF;

@footer-text-color: #8F8F8F;
